.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  width: 350px;
  border: 1px solid orange;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}
