.containerSearch {
  display: flex;
  margin-bottom: 15px;
}

.containerCard {
  display: flex;
  border: 1px solid rgb(156, 156, 156);
  gap: 10px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(216, 216, 216);
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
}

.button {
  display: flex;
  flex-direction: column;
}

.amountImsulin {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.text {
  font-size: 12px;
}

.column2 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
